---
import "../global.css";
import Navigation from "../components/Navigation.astro";

const allPosts = Object.values(
  import.meta.glob("./posts/*.md", { eager: true })
);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="All posts made by Chitram Dasgupta" />
    <title>Chitram Dasgupta</title>
  </head>
  <style>
    h1 {
      font-size: 18px;
      color: #666;
      margin-bottom: 0.5rem;
    }
  </style>
  <body>
    <Navigation />
    <div class="container">
      <section>
        <h1>All posts</h1>
        <ul style="margin-top: 0;">
          {
            allPosts
              .sort(
                (a: any, b: any) =>
                  new Date(b.frontmatter.date).getTime() -
                  new Date(a.frontmatter.date).getTime()
              )
              .map((post: any) => (
                <li>
                  {" "}
                  <a href={`${post.url}/`}>{post.frontmatter.title}</a>
                </li>
              ))
          }
        </ul>
      </section>
    </div>
  </body>
</html>
