---
import "../global.css";
---

<style>
  .nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    padding-inline: 2vw;
    margin-top: 0;
    padding-top: 1rem;
    margin-bottom: 1rem;

    font-size: 21px;
    line-height: 27px;
  }
</style>

<nav>
  <ul class="nav-list">
    <li><a href="/" style="text-decoration: none;">Chitram Dasgupta</a></li>
  </ul>
</nav>
