---

---

<style>
  .nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin-inline: auto;
    padding-inline: 0.5rem;

    font-size: 18px;
    line-height: 27px;

    background-color: #f8f9fa;
    color: #212529;
  }

  a {
    color: #2970db;
    text-decoration: none;
  }
</style>

<nav>
  <ul class="nav-list">
    <div>
      <li><a href="/">Chitram Dasgupta</a></li>
    </div>
    <div>
      <li><a href="/posts">Posts</a></li>
    </div>
  </ul>
</nav>
