---
import "../global.css";
---

<style>
  .nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin-inline: auto;
    padding-inline: 5vw;
    margin-top: 0;
    padding-top: 1rem;

    font-size: 18px;
    line-height: 27px;

    background-color: #f8f9fa;
    color: #212529;
  }
</style>

<nav>
  <ul class="nav-list">
    <li><a href="/" style="text-decoration: none;">Chitram Dasgupta</a></li>
  </ul>
</nav>
