@font-face {
  font-family: "Averia Serif";
  src: url("/Averia_Serif_Libre/AveriaSerifLibre-Regular.ttf") format("truetype");
}

:root {
  --paper: #F5ECD7;
  --ink: #2E2A24;
}

* {
  margin-inline: 0;
  font-family: "Averia Serif";
}

html {
  background: var(--paper);
  color: var(--ink);
}

.container {
  max-width: 1000px;
  margin-inline: auto;
  padding-inline: 5vw;
}

body {
  font-size: 18px;
  line-height: 27px;

  margin-top: 0;
  margin-bottom: 0;

  min-height: 100vh;

  p {
    margin-bottom: 40.5px;
  }

  p:last-of-type {
    margin-bottom: 0;
    padding-bottom: 20.25px;
  }

  h2,
  h3 {
    margin-bottom: 18px;
  }

  h1 {
    font-size: 45px;
    line-height: 1.2;

    font-size: 2.25rem;
    font-weight: bold;
    margin-bottom: 0.25rem;

    margin-top: 1.5rem;
  }

  h2 {
    line-height: 1.2;
  }

  h3 {
    font-size: 28px;
    line-height: 1.3;
  }
}

a {
  color: #0D396D;
  text-decoration: none;
}

blockquote {
  font-style: italic;
}

ul {
  padding-left: 16.75px;
}

li::marker {
  color: #999;
}